[user]
    name = Hippie Hacker
    email = hh@ii.coop
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	create-pull-request = !sh -c 'stash pull-request $0'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
    default = tracking
[diff "clojure"]
    xfuncname = "^\\(.*"
[alias]
    shorten = "!sh -c 'curl -i http://git.io -F url=$1' -"
[heroku]
	remote = heroku
[github]
	user = technomancy
